<!DOCTYPE html>
<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Booking.css') }}">
  <h1 id="title">Booking page</h1>
  <p id="description">Please select a date to make your reservation!</p>
 </head>
 <body>
  <form id="survey-form">
    <label for="date">Select a date:</label>
    <input name="date" id="date" type="date" value="2018-07-22" min="2018-01-01" max="2018-12-31">
    
    <input type="submit" id="submit"></input>
  </form>
  <script src="../js/booking.js"></script>
 </body>
</html>
