<!DOCTYPE html>
<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Booking.css') }}">
  <h1 id="title">Booking page</h1>
  <p id="description">Please select a date to make your reservation!</p>
 </head>
 <body>
  <form id="survey-form" method="POST">
    <label for="date">Select a date:</label>
    <input name="date" id="date" type="date" value="2023-01-7" min="2023-01-7" max="2025-12-31">
    <input name="room" id="room" type="number" placeholder="Desired Room Number">
    <input type="submit" id="submit"></input>
  </form>
  <script src="../js/booking.js"></script>
 </body>
</html>