<!DOCTYPE html>
<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Booking.css') }}">
  <h1 id="title">Booking page</h1>
  <p id="description">Please select a date to make your reservation!</p>
 </head>
 <body>
  <form id="survey-form" method="POST">
    <label for="room">Select a room:</label>
    <label id="name-label">Name<input name="name" id="email" type="text" required max="12" placeholder="Enter Name"/></label>
    <label id="room-label">Room<input name="room" id="room" type="number" max="12" min="0" placeholder="Enter Room Number" required/></label>
    <input type="submit" id="submit"></input>
  </form>
 </body>
</html>