<!DOCTYPE html>
<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Login.css') }}">
   <h1 id="title">Welcome back!</h1>
   <p id="description">Please login below</p>
 </head>
 <body>
  <form id="survey-form">
    <label id="name-label">Name<input id="name" type="text" required max="12" placeholder="Enter Username"/></label>
    <label id="password-label">Password<input id="password" type="text" max="12" min="0" placeholder="Enter Password"/></label>
    <p>First time user?<a href="register"> Sign up!</a></p>
    <p>Forgot password? Too bad!</p>
    <input type="submit" id="submit"></input>
  </form>
 </body>
</html>
