<!DOCTYPE html>
<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Login.css') }}">
  <h1 id="title">Welcome to Hotel Transelvania</h1>
  <p id="description">For first time users, please create your account below</p>
 </head>
 <body>
  <form id="survey-form">
    <label id="name-label">Name<input id="name" type="text" required max="12" placeholder="Enter Username"/></label>
    <label id="email-label">Email<input id="email" type="email" required placeholder="Enter Email"/></label>
    <label id="password-label">Password<input id="password" type="text" max="12" min="0" placeholder="Enter Password"/></label>
    <p>Already have an account?<a href="Login.html"> Log in!</a></p>
    <input type="submit" id="submit"></input>
  </form>
 </body>
</html>
