<!DOCTYPE html>
<html>
 <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Login.css') }}">
   <h1 id="title">Welcome back!</h1>
   <p id="description">Please login below</p>
 </head>
 <body>
  <form id="survey-form" method="POST">
    <label id="password-label">Password<input name="password" id="password" type="text" max="12" min="0" placeholder="Enter Password" required/></label>
    <p>Forgot password? Too bad!</p>
    <input type="submit" id="submit" value="Checkin"></input>
    <input type="submit" id="submit" value="Checkout"></input>
  </form>
 </body>
</html>